<div ngClass="competences-container" id="competences">
    <div ngClass="competences-left">
        <h2>AV-Connexion, l'assurance d'une installation d'excellence</h2>
        <p>
            Créez des environnements qui répondent à vos besoin grâce à notre équipe composée d'experts du domaine audiovisuel.
            Un travail d'exception, du matériel de qualité et un service client à l'écoute vous attendent.
        </p>
    </div>
    
    <div ngClass="competences-right">
        <app-img-display></app-img-display>
    </div>
</div>