@use '../../../../../styles.scss' as *;

.heroe{
    &-container{
        max-width: 1440px;
        margin: auto;
        padding: 0 20px;
        height: 97vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    &-left{
    }
    &-cta{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        & > p{
            font-size: 1.5rem;
        }
        & > h1{
            font-size: 2.5rem;
            text-wrap: pretty;
        }
    }
    &-buttons{
        &-container{
            // align-self: center;
            display: flex;
            flex-direction: row;
            gap: 15px;
            & > button{
                align-self: center;
                cursor: pointer;
                font-size: 1.3rem;
                color: $light-background;
                padding: 15px 25px;
                border: 2px solid $main-color;
                background-color: $main-color;
                border-radius: 2rem;
                transition: all .25s ease;
                &:hover{
                    color: $main-color;
                    background-color: $light-background;
                }
            }
            & > button:nth-child(2){
                background-color: $light-background;
                color: $main-color;
                &:hover{
                    color: $light-background;
                    background-color: $main-color;
                }
            }
        }
    }
    &-right{
        display: grid;
        place-items: center;
        width: 50%;
        & > img{
            width: 100%;
        }
    }
}