@use '../../../../../styles.scss' as *;

.contact{
    &-container{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 10%;
    }
    &-left{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    &-right{
    }
    &-title{
        font-size: 1.2rem;
    }
    &-informations{
        font-size: 1rem;
        & > address {
            font-style: normal;
        }
    }
    &-sociaux{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    &-links{
        & > img{
            width: 32px;
        }
    }
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
    &-item{
        display: flex;
        flex-direction: row;
        & > input, & > textarea{
            width: 100%;
            font-size: $form-size;
            padding: 10px;
            border: none;
            border-bottom: 2px solid $dark-charcoal;
        }
        & > input{
            border: none;
            color: $main-color;
            border: none;
            border-bottom: 2px solid $dark-charcoal;
            &:focus, &:hover{
                border-bottom: 2px solid $main-color;
            }
            &:hover::placeholder{
                color: $main-color;
            }
        }

        & > textarea {
            &:focus, &:hover{
                border-bottom: 2px solid $main-color;
            }
            &:hover::placeholder{
                color: $main-color;
            }
        }

        & > label {
            display: none;
        }
    }
    &-buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        & > input{
            width: 150px;
            padding: 20px 15px;
            font-size: 1rem;
            border-radius: 2rem;
            border: 2px solid $main-color;
            cursor: pointer;
            transition: .25s all ease;
        }
        & > input:nth-child(1){
            background-color: $main-color;
            color: $light-background;
            &:hover{
                color: $main-color;
                background-color: $light-background;
            }
        }
        & > input:nth-child(2){
            color: $main-color;
            &:hover{
                color: $light-background;
                background-color: $main-color;
            }
        }
    }
    &-needed{
        color: $main-color;
    }
}

.form-item:nth-child(1), .form-item:nth-child(2){
    gap: 10px;
}
