<header>
    <div ngClass="logo">
        <img src="../../../assets/icons/logo.jpg" alt="Logo AV-Connexion">
    </div>
   
    <nav ngClass="nav-bar">
        <ul ngClass="nav-list">
            <li ngClass="nav-item">
                <a href="#" ngClass="nav-links">Accueil</a>
            </li>
            <li ngClass="nav-item">
                <a href="#" ngClass="nav-links">Compétences</a>
            </li>
            <li ngClass="nav-item">
                <a href="#" ngClass="nav-links">Certifications</a>
            </li>
            <li ngClass="nav-item">
                <a href="#" ngClass="nav-links">Equipe</a>
            </li>
            <li ngClass="nav-item">
                <a href="#" ngClass="nav-links nav-contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>