@use '../../../styles.scss' as *;

header, ul {
    display: flex;
}

header{
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.nav{
    &-list{
        gap: 2rem
    }
    &-links{
        font-size: 1rem;
        &:hover{
            color: $main-color;
        }
    }
    &-contact{
        color: $main-color;
    }
}

.logo > img{
    width: 60px;
}