<div ngClass="connexion-container">
    <div ngClass="connexion-form">
        <form action="">
            <div ngClass="connexion-identifiants">
                <label for="identifiant-input">Identifiant :</label>
                <input type="text" id="identifiant-input">
            </div>
            <div ngClass="connexion-identifiants">
                <label for="password-input">Mot de passe :</label>
                <input type="text" id="password-input">
            </div>
            <div ngClass="connexion-buttons">
                <button type="submit"></button>
                <button type="reset"></button>
            </div>
        </form>
    </div>
</div>