@use '../../../../../styles.scss' as *;

.team{
    &-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0;
        gap: 40px;
    }
    &-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    &-item{
        display: flex;
        width: 500px;
        gap: 10px;
    }
    &-item:nth-child(even){
        flex-direction: row-reverse;
    }
    &-photo{
        & > img{
            width: 250px;
            border-radius: 20px;
        }
    }
    &-text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        & > h3{
            align-self: center;
        }
    }
    &-sociaux{
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center;
        & > a{
            & > img {
                width: 35px;
            }
        }
    }
}