<div ngClass="team-container" id="team">
    <h2>Notre équipe</h2>
    <div ngClass="team-group">
        <div *ngFor="let member of members" ngClass="team-item">
            <div ngClass="team-photo">
                <img src={{member.picture}} alt="">
            </div>
            <div ngClass="team-text">
                <h3>{{member.nom}}</h3>
                <p>{{member.description}}</p>
                <div ngClass="team-sociaux">
                    <a href="#"><img src="../../../../../assets/icons/linkedin.png" alt=""></a>
                    <a href="#"><img src="../../../../../assets/icons/facebook.png" alt=""></a>
                    <a href="#"><img src="../../../../../assets/icons/twitter.png" alt=""></a>
                    <a href="#"><img src="../../../../../assets/icons/instagram.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>