// Fonts 
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

// Variables

$main-color: #0000fe;
$main-color-light: #226EF2;
$main-color-verylight: rgba(125, 172, 255, 0.624);
$dark-charcoal: #2C2C33;
$light-background: #ffffff;
$form-size: 1.1rem;


// Reset CSS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins';
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $dark-charcoal;
}