<div ngClass="certification-container" id="certifications">
    <div class="certification-title">
        <h2>Nos certifications</h2>
    </div>
    <div class="certification-box">
        <img src="../../../../../assets/icons/crestron-logo.png" alt="">
        <img src="../../../../../assets/icons/EXTRON.png.png" alt="">
        <img src="../../../../../assets/icons/KRAMER-CONTROL.png.png" alt="">
        <img src="../../../../../assets/icons/sennheiser-logo-vector-2.svg" alt="">
        <img src="../../../../../assets/icons/Harman_Primary_Corporate_Logo_CMYK.png" alt="">
    </div>
</div>