<div ngClass="certification-container" id="certifications">
    <div ngClass="certification-title">
        <h2>Nos certifications</h2>
    </div>
    <div ngClass="certification-box">
        <div *ngFor="let certification of certifications" ngClass="certification-items">
            <div ngClass="certification-img">
                <img src={{certification.picture}} alt="Logo {{certification.nom}}">
            </div>
            <div ngClass="certification-text">
                <h3>{{certification.nom}}</h3>
                <p>
                    {{certification.description}}
                </p>
            </div>
        </div>
    </div>
</div>