<div ngClass="certification-container" id="certifications">
    <div ngClass="certification-title">
        <h2>Nos certifications</h2>
    </div>
    <div ngClass="certification-box">
        <div ngClass="certification-items">
            <div ngClass="certification-img">
                <img src="../../../../../assets/icons/crestron-logo.png" alt="">
            </div>
            <div ngClass="certification-text">
                <h3>Crestron</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas repudiandae sed et ratione corrupti vel labore dolorum voluptatum quisquam!
                </p>
            </div>
        </div>
        <div ngClass="certification-items">
            <div ngClass="certification-img">
                <img src="../../../../../assets/icons/EXTRON.png.png" alt="">
            </div>
            <div ngClass="certification-text">
                <h3>Extron</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas repudiandae sed et ratione corrupti vel labore dolorum voluptatum quisquam!
                </p>
            </div>
        </div>
        <div ngClass="certification-items">
            <div ngClass="certification-img">
                <img src="../../../../../assets/icons/KRAMER-CONTROL.png.png" alt="">
            </div>
            <div ngClass="certification-text">
                <h3>Kramer</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas repudiandae sed et ratione corrupti vel labore dolorum voluptatum quisquam!
                </p>
            </div>
        </div>
        <div ngClass="certification-items">
            <div ngClass="certification-img">
                <img src="../../../../../assets/icons/sennheiser-logo-vector-2.svg" alt="">
            </div>
            <div ngClass="certification-text">
                <h3>Sennheiser</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas repudiandae sed et ratione corrupti vel labore dolorum voluptatum quisquam!
                </p>
            </div>
        </div>
        <div ngClass="certification-items">
            <div ngClass="certification-img">
                <img src="../../../../../assets/icons/Harman_Primary_Corporate_Logo_CMYK.png" alt="">
            </div>
            <div ngClass="certification-text">
                <h3>Harman</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas repudiandae sed et ratione corrupti vel labore dolorum voluptatum quisquam!
                </p>
            </div>
        </div>
    </div>
</div>